.loginFull {
	width: 100%;
	height: 100%;
}

.section {
	position: relative;
	width: 100%;
	height: 90%;
	overflow-y: scroll;
}
.section header {
	margin-top: 30px;
	margin-left: 10px;
}

.right_image {
	position: absolute;
	z-index: -1;
	width: 50%;
	right: 0;
	top: 55px;
}

.left_image {
	width: 50%;
	bottom: 0px;
	position: absolute;
	z-index: -1;
}

.main_content {
	margin-top: 100px;
	text-align: center;
	padding: 0 10px;
}
.heading {
	color: #1e40af;
	font-weight: bold;
	margin: 15px 0;
	font-size: 20px;
}
.heading > span {
	font-size: 30px;
	display: block;
}
.heading span span {
	color: #0dd365;
}
.login_content {
	font-size: 0.7rem;
	margin-top: 30px;
}
.login_content p {
	margin-bottom: 10px;
	font-size: 16px;
}
.login_content p span {
	color: #0dd365;
	font-weight: bold;
}

@media screen and (max-width: 500px) {
	.left_image {
		width: 70%;
		left: 0;
	}
	.right_image {
		width: 50%;
		right: 0;
		top: 55px;
	}
}
