.navbar {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	border: 1px solid gray;
}

.navbar_item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
