* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}
::-webkit-scrollbar {
	display: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 668px;
	margin: auto;
	height: 100vh;
}
